/* comment */
/* CSS Syntax:
selector {property:value;}
*/
p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: .75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}
