@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This is a comment! */

/* CSS Syntax
selector {
  property:value;
}

*/

/* Type Selector */

p { /* Select All <p> */
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

/* Class Selector */
.milk-text { /* Select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID Selector (Apply to one unique element per page) */
#logo{ /* Select elements with id="logo" */
  background: aqua;
}

/* Descendent Selector */
#logo h1 { /* Selects <h1> if inside the id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 { /* Selects <h1> if inside the id="logo" */
  font-family: 'Elsie Swash Caps', cursive;
}

/* Pseudo Selector */
#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
